html{margin:0;padding:0}
body{margin:0;padding:5px;/*background:#fff url(icons/header.gif) left top repeat-x*/background:#fff url(icons/header4.gif) left top repeat-x}
body.page_login_main{background:#fff url(icons/header.gif) left top repeat-x}
h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,code,del,em,img,ins,q,s,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td,.table,.tbody,.tfoot,.thead,.tr,.th,.td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit}
abbr[title],acronym[title]{border-bottom:1px dotted;font-weight:inherit;cursor:help}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
q:before,q:after,blockquote:before,blockquote:after{content:""}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0;-ms-interpolation-mode:bicubic}
button,input,select,option,textarea{font-size:100%;margin:0;box-sizing:border-box;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal;*overflow:visible}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
button[disabled],input[type="button"][disabled],input[type="reset"][disabled],input[type="submit"][disabled]{opacity:0.7}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top}
body{background-color:#fff;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;line-height:18px;color:#404040;padding:0}
.container{width:100%;max-width:940px;margin-left:auto;margin-right:auto;zoom:1;position:relative}
.container:before,.container:after{display:table;content:"";zoom:1}
.container:after{clear:both}
a{color:#0069d6;text-decoration:none;line-height:inherit;font-weight:inherit}
a:hover{color:#00438a;text-decoration:underline}
.pull-right{float:right}
.pull-left{float:left}
p,.cbi-map-descr,.cbi-section-descr,.table .tr.cbi-section-table-descr .th{font-size:13px;font-weight:normal;line-height:18px;margin-bottom:9px}
p small{font-size:11px;color:#bfbfbf}
h1,h2,h3,legend,h4,h5,h6{font-weight:bold;color:#404040}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#bfbfbf}
h1{margin-bottom:18px;font-size:30px;line-height:36px}
h1 small{font-size:18px}
h2{font-size:24px;line-height:36px}
h2 small{font-size:14px}
h3,legend,h4,h5,h6{line-height:36px}
h3,legend{font-size:18px}
h3 small{font-size:14px}
h4{font-size:16px}
h4 small{font-size:12px}
h5{font-size:14px}
h6{font-size:13px;color:#bfbfbf;text-transform:uppercase}
ul,ol{margin:0 0 18px 0}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0}
ul{list-style:disc}
ol{list-style:decimal}
li{line-height:18px;color:#808080}
ul.unstyled{list-style:none;margin-left:0}
dl{margin-bottom:18px}
dl dt,dl dd{line-height:18px}
dl dt{font-weight:bold}
dl dd{margin-left:9px}
/*hr{margin:20px 0 19px;border:0;border-bottom:1px solid #eee}*/
strong{font-style:inherit;font-weight:bold}
em{font-style:italic;font-weight:inherit;line-height:inherit}
small{font-size:0.9em}
address{display:block;line-height:18px;margin-bottom:18px}
code,pre{padding:0 3px 2px;font-family:Monaco,Andale Mono,Courier New,monospace;font-size:12px;border-radius:3px}
code{background-color:#fee9cc;color:rgba(0,0,0,0.75);padding:1px 3px}
pre{background-color:#f5f5f5;display:block;padding:8.5px;margin:0 0 18px;line-height:18px;font-size:12px;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:3px;white-space:pre;white-space:pre-wrap;word-wrap:break-word}
form{margin-bottom:18px}
fieldset{margin-bottom:9px;padding-top:9px}
fieldset legend{display:block;font-size:19.5px;line-height:1;color:#404040;padding-top:20px;*padding:0 0 5px 0px;*line-height:1.5}
form .cbi-tab-descr{line-height:18px;margin-bottom:18px}
form .clearfix,form .cbi-value{margin-bottom:18px;zoom:1}
form .clearfix:before,form .clearfix:after,form .cbi-value:before,form .cbi-value:after{display:table;content:"";zoom:1}
form .clearfix:after,form .cbi-value:after{clear:both}
label,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:normal}
form .input,form .cbi-value-field{margin-left:200px}
form .cbi-value label.cbi-value-title{padding-top:6px;font-size:13px;line-height:18px;float:left;width:180px;text-align:right;color:#404040}
input[type=checkbox],input[type=radio]{cursor:pointer}
input,textarea,select,.cbi-dropdown,.uneditable-input{display:inline-block;width:210px;height:32px;padding:0 0 0 10px;font-size:14px;line-height:18px;color:#808080;border:1px solid #4598aa;border-radius:0;box-sizing:border-box}
textarea{padding-top:5px}
.cbi-dropdown{min-width:210px;max-width:400px;width:auto}
select{padding:initial;background:#fff;box-shadow:inset 0 -1px 3px rgba(0,0,0,0.1)}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:none}
input[type=file]{background-color:#fff;padding:initial;border:initial;line-height:initial;box-shadow:none;width:auto !important}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto}
select,input[type=file]{*height:auto;*margin-top:4px}
select[multiple]{height:inherit;background-color:#fff}
textarea{height:auto}
.td > input[type=text],.td > input[type=password],.td > select,.td > .cbi-dropdown{width:100%}
.uneditable-input{background-color:#fff;display:block;border-color:#eee;box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);cursor:not-allowed}
::-moz-placeholder{color:#bfbfbf}
::-webkit-input-placeholder{color:#bfbfbf}
.btn,.cbi-button,input,textarea{}
.btn:hover,.cbi-button:hover,input:focus,textarea:focus{outline:0;border-color:rgba(82,168,236,0.8) !important;box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);text-decoration:none}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{box-shadow:none;outline:1px dotted #666}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#f5f5f5;border-color:#ddd;pointer-events:none;cursor:default}
select[readonly],textarea[readonly]{pointer-events:auto;cursor:auto}
.cbi-optionals,.cbi-section-create{/* padding:0 0 10px 10px */}
.cbi-section-create{/* margin:-3px; */display:inline-flex;align-items:center;margin-bottom: 20px;}
.cbi-section-create > *{/* margin:3px; */flex:1 1 auto;}
.cbi-section-create > * > input{width:100%}
.actions,.cbi-page-actions{/* background:#f5f5f5; */margin-bottom: 20px;/* padding:17px 20px 18px 17px; */border-top:1px solid #ddd;/* border-radius:0 0 3px 3px; */text-align:right;padding-top: 20px;margin-top: 20px;}
.actions .secondary-action,.cbi-page-actions .secondary-action{float:right}
.actions .secondary-action a,.cbi-page-actions .secondary-action a{line-height:30px}
.actions .secondary-action a:hover,.cbi-page-actions .secondary-action a:hover{text-decoration:underline}
.cbi-page-actions > form{display:inline;margin:0}
.help-inline,.help-block{font-size:13px;line-height:18px;color:#bfbfbf}
.help-inline{padding-left:5px;*position:relative;*top:-5px}
.help-block{display:block;max-width:600px}
.tr{display:table-row}
.table[width="15%"],.th[width="15%"],.td[width="15%"]{width:15%}
.table[width="33%"],.th[width="33%"],.td[width="33%"]{width:33%}
.table[width="35%"],.th[width="35%"],.td[width="35%"]{width:35%}
.table[width="50%"],.th[width="50%"],.td[width="50%"]{width:50%}
.table[width="100%"],.th[width="100%"],.td[width="100%"]{width:100%}
.table{display:table;width:100%;margin-bottom:18px;padding:0;font-size:15px;border-collapse:collapse;position:relative;background: #eee;border-collapse: separate;border-spacing: 1px;}
.table .th,.table .td{display:table-cell;vertical-align:middle;padding:10px 10px 9px;line-height: 20px;text-align:left;}
.table .tr:first-child .th{padding-top:9px;font-weight:bold;vertical-align:top}
.table .tr .th{padding-top:9px;font-weight:bold}
.table .td{background:#fff;}
.table .th{background:#eff4f5;color:#000;}
.tr.placeholder{height:calc(3em + 20px)}
.tr.placeholder > .td{position:absolute;left:0;right:0;bottom:0;text-align:center;line-height:3em;border: 1px solid #eee;border-top: 0;}
header{height:105px;position:relative;top:0;left:0;right:0;z-index:10000;overflow:visible;color:#BFBFBF}
header a{color:#222}
header h3 a:hover,header .brand:hover,header ul .active > a{background-color:#333;background-color:rgba(255,255,255,0.05);color:#333;text-decoration:none}
header h3{position:relative}
header h3 a,header .brand{float:left;display:block;padding:0px 0 12px;color:#222;font-size:26px;font-weight:200;line-height:1}
header .brand .desc{color:#888;font-size:14px}
header p{margin:0;line-height:40px}
header .fill{}
header .container{position:relative;padding:20px 5px 5px;height:80px}
header div > ul,.nav{display:block;float:right;position:absolute;right:0;font-size:16px;margin:0;top:30px}
header div > ul > li,.nav > li{display:block;float:left;margin-left:0;position:relative}
header div > ul > li:before,.nav > li:before{content:' ';display:block;width:1px;height:20px;background-color:#000;position:absolute;right:0;top:10px}
header div > ul > li:last-child:before,.nav > li:last-child:before{display:none}
header div > ul a,.nav a{display:block;float:none;padding:11px 6px 11px;line-height:19px;text-decoration:none;min-width:120px;text-align:center;margin:0;border-radius:0}
header div > ul a:hover,.nav a:hover{color:#000;text-decoration:none}
header div > ul .active > a,.nav .active > a{box-shadow:inset 0 2px 3px rgba(0,0,0,.5);background:#f5f5f5}
header div > ul.secondary-nav,.nav.secondary-nav{float:right;margin-left:10px;margin-right:0}
header div > ul.secondary-nav .menu-dropdown,.nav.secondary-nav .menu-dropdown,header div > ul.secondary-nav .dropdown-menu,.nav.secondary-nav .dropdown-menu{right:0;border:0}
header div > ul a.menu:hover,.nav a.menu:hover,header div > ul li.open .menu,.nav li.open .menu,header div > ul .dropdown-toggle:hover,.nav .dropdown-toggle:hover,header div > ul .dropdown.open .dropdown-toggle,.nav .dropdown.open .dropdown-toggle{}
header div > ul .menu-dropdown,.nav .menu-dropdown,header div > ul .dropdown-menu,.nav .dropdown-menu{}
header div > ul .menu-dropdown a.menu,.nav .menu-dropdown a.menu,header div > ul .dropdown-menu a.menu,.nav .dropdown-menu a.menu,header div > ul .menu-dropdown .dropdown-toggle,.nav .menu-dropdown .dropdown-toggle,header div > ul .dropdown-menu .dropdown-toggle,.nav .dropdown-menu .dropdown-toggle{color:#fff}
header div > ul .menu-dropdown a.menu.open,.nav .menu-dropdown a.menu.open,header div > ul .dropdown-menu a.menu.open,.nav .dropdown-menu a.menu.open,header div > ul .menu-dropdown .dropdown-toggle.open,.nav .menu-dropdown .dropdown-toggle.open,header div > ul .dropdown-menu .dropdown-toggle.open,.nav .dropdown-menu .dropdown-toggle.open{background:#444;background:rgba(255,255,255,0.05)}
header div > ul .menu-dropdown li a,.nav .menu-dropdown li a,header div > ul .dropdown-menu li a,.nav .dropdown-menu li a{color:#333;text-shadow:none}
header div > ul .menu-dropdown li a:hover,.nav .menu-dropdown li a:hover,header div > ul .dropdown-menu li a:hover,.nav .dropdown-menu li a:hover{background-color:#4496a8;color:#fff}
header div > ul .menu-dropdown .active a,.nav .menu-dropdown .active a,header div > ul .dropdown-menu .active a,.nav .dropdown-menu .active a{color:#fff}
header div > ul .menu-dropdown .divider,.nav .menu-dropdown .divider,header div > ul .dropdown-menu .divider,.nav .dropdown-menu .divider{background-color:#222;border-color:#444}
header .nav .menu{margin:0 10px;border-radius:8px}
header ul .menu-dropdown li a,header ul .dropdown-menu li a{padding:16px 15px}
li.menu,.dropdown{position:relative}
a.menu:after,.dropdown-toggle:after{width:0;height:0;display:inline-block;content:"&darr;";text-indent:-99999px;vertical-align:top;margin-top:8px;margin-left:4px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;opacity:0.5}
.menu-dropdown,.dropdown-menu{background:url('icons/menu_this.png') no-repeat;background-size:100%;float:left;top:40px;left:-9999px;z-index:900;min-width:150px;max-width: 130px;_width:160px;margin-left:0;margin-right:0;padding:10px 0 0 0;zoom:1;border-radius:0;box-shadow:7px 15px 15px rgba(0,0,0,0.5);background-clip:padding-box;margin-top:26px;display:none;}
.menu-dropdown li,.dropdown-menu li{float:none;display:block;background-color:#fff}
.menu-dropdown .divider,.dropdown-menu .divider{height:1px;margin:5px 0;overflow:hidden;background-color:#eee;border-bottom:1px solid #fff}
header .dropdown-menu a,.dropdown-menu a{display:block;padding:4px 15px;clear:both;font-weight:normal;line-height:18px;color:#808080;text-shadow:0 1px 0 #fff}
header .dropdown-menu a:hover,.dropdown-menu a:hover,header .dropdown-menu a.hover,.dropdown-menu a.hover{background-color:#4496a8;color:#404040;text-decoration:none;box-shadow:inset 0 1px 0 rgba(0,0,0,0.025),inset 0 -1px rgba(0,0,0,0.025)}
.open .menu,.dropdown.open .menu,.open .dropdown-toggle,.dropdown.open .dropdown-toggle{color:#fff;background:#ccc;background:rgba(0,0,0,0.3)}
.open .menu-dropdown,.dropdown.open .menu-dropdown,.open .dropdown-menu,.dropdown.open .dropdown-menu{display:block}
.dropdown:hover ul.dropdown-menu{display:block}
.dropdown-menu .dropdown-menu{position:absolute;left:159px}
.dropdown-menu li{position:relative}
.tabs,.cbi-tabmenu{margin:0 0 18px;padding:0;list-style:none;zoom:1}
.tabs:before,.cbi-tabmenu:before,.tabs:after,.cbi-tabmenu:after{display:table;content:"";zoom:1}
.tabs:after,.cbi-tabmenu:after{clear:both}
.tabs > li,.cbi-tabmenu > li{float:left}
.tabs > li > a,.cbi-tabmenu > li > a{display:block}
.tabs,.cbi-tabmenu{border-color:#ddd;border-style:solid;border-width:0 0 1px}
.tabs > li,.cbi-tabmenu > li{position:relative;margin-bottom:-1px}
.cbi-tabmenu.map{margin:0}
.cbi-tabmenu.map > li{font-size:16.5px;font-weight:bold}
.cbi-tabcontainer > fieldset.cbi-section[id] > legend{display:none}
.tabs > li > a,.cbi-tabmenu > li > a{padding:0 10px;border-radius:0;font-size: 20px;border:1px solid #ccc;height:49px;line-height:50px;text-decoration:underline;border-right:none;color:#4589aa;text-align:center;min-width: 140px;}
.tabs > li:last-child > a,.cbi-tabmenu > li:last-child > a{border-right:1px solid #ddd}
.tabs > li > a:hover,.cbi-tabmenu > li > a:hover{text-decoration:none}
.tabs .active > a,.tabs .active > a:hover,.cbi-tabmenu .active > a,.cbi-tabmenu .active > a:hover,.cbi-tab > a:link,.cbi-tab > a:hover{border-bottom-color:transparent;cursor:default;border-bottom:1px solid #ffff;text-decoration:none;}
.tabs .menu-dropdown,.tabs .dropdown-menu,.cbi-tabmenu .menu-dropdown,.cbi-tabmenu .dropdown-menu{top:35px;border-width:1px;border-radius:0 6px 6px 6px}
.tabs a.menu:after,.tabs .dropdown-toggle:after,.cbi-tabmenu a.menu:after,.cbi-tabmenu .dropdown-toggle:after{border-top-color:#999;margin-top:15px;margin-left:5px}
.tabs li.open.menu .menu,.tabs .open.dropdown .dropdown-toggle,.cbi-tabmenu li.open.menu .menu,.cbi-tabmenu .open.dropdown .dropdown-toggle{border-color:#999}
.tabs li.open a.menu:after,.tabs .dropdown.open .dropdown-toggle:after,.cbi-tabmenu li.open a.menu:after,.cbi-tabmenu .dropdown.open .dropdown-toggle:after{border-top-color:#555}
.tab-content > .tab-pane,.tab-content > div{display:none}
.tab-content > .active{display:block}
.breadcrumb{padding:7px 14px;margin:0 0 18px;background-color:#f5f5f5;background-repeat:repeat-x;background-image:linear-gradient(to bottom,#fff,#f5f5f5);border:1px solid #ddd;border-radius:3px;box-shadow:inset 0 1px 0 #fff}
.breadcrumb li{display:inline;text-shadow:0 1px 0 #fff}
.breadcrumb .divider{padding:0 5px;color:#bfbfbf}
.breadcrumb .active a{color:#404040}
footer{margin-top: 50px;padding-top:20px;background:url('icons/footer.png') center top no-repeat;text-align:center;color:#7d7d7d;margin-bottom: 50px;}
.btn.danger,.alert-message.danger,.btn.danger:hover,.alert-message.danger:hover,.btn.error,.alert-message.error,.btn.error:hover,.alert-message.error:hover,.btn.success,.alert-message.success,.btn.success:hover,.alert-message.success:hover,.btn.info,.alert-message.info,.btn.info:hover,.alert-message.info:hover{color:#fff}
.btn .close,.alert-message .close{font-family:Arial,sans-serif;line-height:18px}
.btn.danger,.alert-message.danger,.btn.error,.alert-message.error{background:linear-gradient(to bottom,#ee5f5b,#c43c35) repeat-x;text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn.success,.alert-message.success{background:linear-gradient(to bottom,#62c462,#57a957) repeat-x;text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn.info,.alert-message.info{background:linear-gradient(to bottom,#5bc0de,#339bb9) repeat-x;text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.alert-message.notice{background:linear-gradient(to bottom,#efefef,#fefefe) repeat-x;text-shadow:0 -1px 0 rgba(255,255,255,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn,.cbi-button{cursor:pointer;display:inline-block;background: #fff;padding: 5px 14px 6px;text-shadow:0 1px 1px rgba(255,255,255,0.75);color:#333;font-size: 14px;line-height:normal;border:1px solid #4598aa;/* border-bottom-color:#bbb; *//* box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05); */}
.btn:focus,.cbi-button:focus{outline:1px dotted #666}
.cbi-input-invalid,.cbi-value-error input{color:#f00;border-color:#f00}
.cbi-button-positive,.cbi-button-fieldadd,.cbi-button-add,.cbi-button-save{border-color:#4a4;color:#4a4}
.cbi-button-neutral,.cbi-button-download,.cbi-button-find,.cbi-button-link,.cbi-button-up,.cbi-button-down{color:#444}
.btn.primary,.cbi-button-action,.cbi-button-apply,.cbi-button-reload,.cbi-button-edit{border-color: #4598aa;color:#0069d6;}
.cbi-button-negative,.cbi-section-remove .cbi-button,.cbi-button-reset,.cbi-button-remove{border-color:#c44;color:#c44}
.cbi-page-actions::after{display:table;content:"";clear:both}
.cbi-page-actions >:not([method="post"]):not(.cbi-button-apply):not(.cbi-button-save):not(.cbi-button-reset){float:left;margin-right:.4em}
.btn.primary,.cbi-button-action.important,.cbi-page-actions .cbi-button-apply,.cbi-section-actions .cbi-button-edit{color:#fff;background: #4598aa;text-shadow: none;}
.cbi-button-positive.important,.cbi-page-actions .cbi-button-save{color:#fff;background:linear-gradient(to bottom,#4a4,#484) no-repeat;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.cbi-button-negative.important{color:#fff;background:linear-gradient(to bottom,#c44,#c00) no-repeat;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.cbi-page-actions .cbi-button-apply + .cbi-button-save{background: #fff;text-shadow:0 -1px 0 rgba(255,255,255,0.75);color:#4a4;}
.cbi-dropdown{border:1px solid #4598aa;display:inline-flex;padding:0;cursor:pointer;height:auto;position:relative;color:#404040}
.cbi-dropdown:focus{outline:2px solid #4b6e9b}
.cbi-dropdown > ul{margin:0 !important;padding:0;list-style:none;overflow-x:hidden;overflow-y:auto;display:flex;width:100%}
.cbi-dropdown > ul.preview{display:none}
.cbi-dropdown > .open,.cbi-dropdown > .more{flex-grow:0;flex-shrink:0;display:flex;flex-direction:column;justify-content:center;text-align:center;line-height:2em;padding:0 .25em;background:#4596aa;color:#fff}
.cbi-dropdown > .more,.cbi-dropdown > ul > li[placeholder]{color:#777;font-weight:bold;text-shadow:1px 1px 0px #fff;display:none}
.cbi-dropdown > ul > li{display:none;padding:.35em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;flex-shrink:1;flex-grow:1;align-items:center;align-self:center;color:#404040;min-height:20px}
.cbi-dropdown > ul > li .hide-open{display:block;display:initial}
.cbi-dropdown > ul > li .hide-close{display:none}
.cbi-dropdown > ul > li[display]:not([display="0"]){border-left:1px solid #ccc}
.cbi-dropdown[empty] > ul{max-width:1px}
.cbi-dropdown > ul > li > form{display:none;margin:0;padding:0;pointer-events:none}
.cbi-dropdown > ul > li img{vertical-align:middle;margin-right:.25em}
.cbi-dropdown > ul > li > form > input[type="checkbox"]{margin:0}
.cbi-dropdown > ul > li input[type="text"]{height:20px}
.cbi-dropdown[open]{position:relative}
.cbi-dropdown[open] > ul.dropdown{display:block;background:#fff;border:1px solid #4598aa;position:absolute;z-index:1000;max-width:none;min-width:100%;width:auto;left:-1px}
.cbi-dropdown > ul > li[display],.cbi-dropdown[open] > ul.preview,.cbi-dropdown[open] > ul.dropdown > li,.cbi-dropdown[multiple] > ul > li > label,.cbi-dropdown[multiple][open] > ul.dropdown > li,.cbi-dropdown[multiple][more] > .more,.cbi-dropdown[multiple][empty] > .more{flex-grow:1;display:flex}
.cbi-dropdown[empty] > ul > li,.cbi-dropdown[optional][open] > ul.dropdown > li[placeholder],.cbi-dropdown[multiple][open] > ul.dropdown > li > form{display:block}
.cbi-dropdown[open] > ul.dropdown > li .hide-open{display:none}
.cbi-dropdown[open] > ul.dropdown > li .hide-close{display:block;display:initial}
.cbi-dropdown[open] > ul.dropdown > li{border-bottom:1px solid #ccc}
.cbi-dropdown[open] > ul.dropdown > li[selected]{background:#eee}
.cbi-dropdown[open] > ul.dropdown > li.focus{background:linear-gradient(90deg,#a3c2e8 0%,#84aad9 100%)}
.cbi-dropdown[open] > ul.dropdown > li:last-child{margin-bottom:0;border-bottom:none}
.cbi-dropdown[disabled]{pointer-events:none;opacity:.6}
input[type="text"] + .cbi-button,input[type="password"] + .cbi-button,select + .cbi-button{border-color:#4598aa;margin:0 0 1px -2px;padding:0 6px;vertical-align:top;/* height:32px; */font-size:14px;font-weight:bold;line-height:30px;background:#fff;text-shadow:none;color:#4598aa;border-radius: 0;}
select + .cbi-button{border-left-color:transparent}
.cbi-title-ref{color:#37/*ccolor:#fff;*/}
.cbi-title-ref::after {/*content: "âž™";*/}
.cbi-tooltip-container{cursor:help}
.cbi-tooltip{position:absolute;z-index:1000;left:-1000px;opacity:0;transition:opacity .25s ease-out}
.cbi-tooltip-container:hover .cbi-tooltip:not(:empty){left:auto;opacity:1;transition:opacity .25s ease-in}
.zonebadge .cbi-tooltip{padding:1px;background:inherit;margin:-1.6em 0 0 -5px;border-radius:3px;pointer-events:none;box-shadow:0 0 3px #444}
.zonebadge .cbi-tooltip > *{margin:1px}
.zone-forwards{display:flex;flex-wrap:wrap}
.zone-forwards > *{flex:1 1 40%;padding:1px}
.zone-forwards > span{flex-basis:10%;text-align:center}
.zone-forwards .zone-src,.zone-forwards .zone-dest{display:flex;flex-direction:column}
.btn.active,.btn:active{box-shadow:inset 0 2px 4px rgba(0,0,0,0.25),0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled{cursor:default;background-image:none;opacity:0.65;box-shadow:none}
.btn[disabled]{cursor:default;background-image:none;opacity:0.65;box-shadow:none}
.btn.large{font-size:15px;line-height:normal;padding:9px 14px 9px;border-radius:6px}
.btn.small{padding:7px 9px 7px;font-size:11px}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{padding:0;border:0}
.close{float:right;color:#000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #fff;opacity:0.25}
.close:hover{color:#000;text-decoration:none;opacity:0.4}
.alert-message{position:relative;padding:7px 15px;margin-bottom:18px;color:#404040;background:linear-gradient(to bottom,#fceec1,#eedc94) repeat-x;text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);text-shadow:0 1px 0 rgba(255,255,255,0.5);border-width:1px;border-style:solid;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.alert-message .close{margin-top:1px;*margin-top:0}
.alert-message a{font-weight:bold;color:#404040}
.alert-message.danger p a,.alert-message.error p a,.alert-message.success p a,.alert-message.info p a{color:#fff}
.alert-message h5{line-height:18px}
.alert-message p{margin-bottom:0}
.alert-message div{margin-top:5px;margin-bottom:2px;line-height:28px}
.label{padding:2px 5px 2px;font-size:12px;font-weight:bold;color:#fff !important;text-transform:uppercase;white-space:nowrap;background-color:#bfbfbf;border-radius:3px;text-shadow:none}
a.label:link,a.label:visited{color:#fff}
a.label:hover{text-decoration:none}
.label.important{background-color:#c43c35}
.label.warning{background-color:#f89406}
.label.success{background-color:#46a546}
.label.notice{background-color:#62cffc}
.hidden{display:none}
#memtotal > div,#memfree > div,#memcache > div,#membuff > div,#conns > div{border:1px solid #ccc;border-radius:3px 3px 3px 3px;color:#808080;display:inline-block;font-size:13px;line-height:18px}
#xhr_poll_status{cursor:pointer}
form.inline{display:inline;margin-bottom:0}
header .pull-right{padding-top:23px;display:none;}
#modemenu li:last-child span.divider{display:none}
#syslog{width:100%}
.cbi-section-table .tr:hover .td,.cbi-section-table .tr:hover .th,.cbi-section-table .tr:hover::before{/*background-color:#f5f5f5*/}
.cbi-section-table .tr.cbi-section-table-descr .th{font-weight:normal}
.cbi-section-table-titles.named::before,.cbi-section-table-descr.named::before,.cbi-section-table-row[data-title]::before{content:attr(data-title) " ";display:table-cell;padding:10px 10px 9px;line-height:18px;font-weight:bold;vertical-align:middle}
.cbi-section-table-titles.named::before,.cbi-section-table-descr.named::before,.cbi-section-table-row[data-title]::before{border-top:1px solid #ddd}
.left{text-align:left !important}
.right{text-align:right !important}
.center{text-align:center !important}
.top{vertical-align:top !important}
.middle{vertical-align:middle !important}
.bottom{vertical-align:bottom !important}
.cbi-value-field{line-height:1.5em}
.cbi-value-field input[type=checkbox],.cbi-value-field input[type=radio]{margin-top:8px;margin-right:6px}
table table td,.cbi-value-field table td{border:none}
.table.cbi-section-table input[type="password"],.table.cbi-section-table input[type="text"],.table.cbi-section-table textarea,.table.cbi-section-table select{width:100%}
.table.cbi-section-table .td.cbi-section-table-cell{white-space:nowrap;text-align:right}
.table.cbi-section-table .td.cbi-section-table-cell select{width:inherit}
.td.cbi-section-actions{text-align:right;vertical-align:middle}
.td.cbi-section-actions > *{display:flex}
.td.cbi-section-actions > * > *,.td.cbi-section-actions > * > form > *{flex:1 1 4em;margin:0 1px}
.td.cbi-section-actions > * > form{display:inline-flex;margin:0}
.table.valign-middle .td{vertical-align:middle}
.cbi-rowstyle-2,.tr.cbi-section-table-titles{background:#f5f5f5}
.cbi-value-description{background-image:url(/luci-static/resources/cbi/help.gif);background-position:.25em .2em;background-repeat:no-repeat;margin:.25em 0 0 0;padding:0 0 0 1.7em}
.cbi-section-error{border:1px solid #f00;border-radius:3px;background-color:#fce6e6;padding:5px;margin-bottom:18px}
.cbi-section-error ul{margin:0 0 0 20px}
.cbi-section-error ul li{color:#f00;font-weight:bold}
.ifacebox{background-color:#fff;text-align:center;white-space:nowrap;text-shadow:0 1px 1px rgba(255,255,255,0.75);display:inline-flex;flex-direction:column;line-height:1.25em;min-width:100px;border-right:1px solid #eee}
.ifacebox::last-child{border-right:none;}
.ifacebox .ifacebox-head{padding:8px;text-shadow:none;font-size:16px;background:#eff4f5;}
.ifacebox .ifacebox-head.active{}
.ifacebox .ifacebox-body{padding:.25em}
.ifacebadge{display:inline-block;flex-direction:row;white-space:nowrap;background-color:#fff;border:1px solid #ccc;padding:2px;text-shadow:0 1px 1px rgba(255,255,255,0.75);cursor:default;line-height:1.2em}
.ifacebadge img{width:16px;height:16px;vertical-align:middle}
.ifacebadge-active{border-color:#000;font-weight:bold}
.network-status-table{display:flex;flex-wrap:wrap;border:1px solid #eee;}
.network-status-table .ifacebox{flex-grow:1}
.network-status-table .ifacebox-body{display:flex;flex-direction:column;text-align:left;line-height:1.8em;padding:10px;}
.network-status-table .ifacebox-body > *{margin:.5em}
.network-status-table .ifacebox-body > span{flex: 10 10 auto;min-height: 100px;}
.network-status-table .ifacebox-body > div{display:flex;flex-wrap:wrap;margin:-.125em}
#dsl_status_table .ifacebox-body > span > strong{display:inline-block;min-width:35%}
.ifacebadge.large,.network-status-table .ifacebox-body .ifacebadge{display:inline-flex;flex:1;padding:.8em;min-width:220px;margin:.2em}
.ifacebadge > *,.ifacebadge.large > *{margin:0 .12em}
.zonebadge{padding:2px;border-radius:4px;display:inline-block;white-space:nowrap;color:#666;text-shadow:0 1px 1px rgba(255,255,255,0.75)}
.zonebadge > em,.zonebadge > strong{margin:0 2px;display:inline-block}
.zonebadge input{width:6em}
.zonebadge > .ifacebadge{margin-left:2px}
.zonebadge-empty{border:1px dashed #aaa;color:#aaa;font-style:italic;font-size:smaller}
div.cbi-value var,.td.cbi-value-field var{font-style:italic;color:#0069d6}
.uci-change-list{line-height:170%;white-space:pre}
.uci-change-list del,.uci-change-list ins,.uci-change-list var,.uci-change-legend-label del,.uci-change-legend-label ins,.uci-change-legend-label var{text-decoration:none;font-family:monospace;font-style:normal;border:1px solid #ccc;background:#eee;padding:2px;display:block;line-height:15px;margin-bottom:1px}
.uci-change-list ins,.uci-change-legend-label ins{border-color:#0f0;background:#cfc}
.uci-change-list del,.uci-change-legend-label del{border-color:#f00;background:#fcc}
.uci-change-list var,.uci-change-legend-label var{border-color:#ccc;background:#eee}
.uci-change-list var ins,.uci-change-list var del{display:inline-block;border:none;width:100%;padding:0}
.uci-change-legend{padding:5px}
.uci-change-legend-label{width:150px;float:left}
.uci-change-legend-label > ins,.uci-change-legend-label > del,.uci-change-legend-label > var{float:left;margin-right:4px;width:10px;height:10px;display:block;position:relative}
.uci-change-legend-label var ins,.uci-change-legend-label var del{border:none;position:absolute;top:2px;left:2px;right:2px;bottom:2px}
html body.apply-overlay-active{height:calc(100vh - 63px)}
#applyreboot-section{line-height:300%}
.user-login-box{width:337px;height:218px;margin:30px auto 155px;background:url('icons/logInTable.png') left top no-repeat;text-align:center;overflow:hidden}
.user-login-box .title{font-size:14px;color:#333;font-weight:bold;height:40px;line-height:40px;margin-top:30px}
.user-login-box .input-box{margin-top:10px}
.user-login-box .btn-box{margin-top:30px}
.user-login-box .btn-box input{background:#4598aa;color:#fff;padding:10px 15px;min-width:120px}
.header-version{color:#333;float:left;font-size:14px;line-height:48px;margin-left:30px;margin-top:5px}
.header-version span{display:inline-block;margin-right:90px}
.index-map-box{position:relative;height:300px}
.index-map-box .item{position:absolute;cursor:pointer;z-index:99}
.index-map-box .item .name{font-size:14px;text-align:center;color:#7e7e7e}
.index-map-box .item .icon{width:119px;height:119px;background:url(icons/circle_bg1.png) center no-repeat;background-size:contain;position:relative}
.index-map-box .item .icon:hover{background-image:url(icons/circle_bg2.png)}
.index-map-box .item.ac .icon{background-image:url(icons/click_bg1.png)}
.index-map-box .icon img{width:60px;height:60px;position:absolute;top:29px;left:29px;cursor:pointer}
.index-map-box .line{position:absolute;z-index:1}
.index-map-box .internet{top:80px;left:130px}
.index-map-box .router{top:80px;left:395px}
.index-map-box .client{top:80px;left:635px}
.index-map-box .line1{top:151px;left:175px}
.index-map-box .line2{top:151px;left:455px}
.index-map-box .wan_connstat{position:absolute;z-index:2;top:142px;left:303px}
.index-map-box .wan_connstat img{width:35px;height:35px}
.index-map-box .goto_wizard{position:absolute;width:400px;left:120px;top:190px;text-align:center}
.index-map-box .goto_wizard .this_wz{display:block;width:0;height:0;border-style:solid;border-width:0 13px 10px 13px;border-color:transparent transparent red transparent;position:absolute;top:-8px;left:188px}
.index-map-box .goto_wizard button{background:red;color:#fff;width:150px;padding:10px 5px;font-size:14px;border-radius:5px}
.infor-title{font-size:32px;background:url('icons/home_shadow.png') center bottom no-repeat;padding:20px 30px;line-height:30px}
.cbi-section.pd50{padding:0 50px}
.gotosetting{color:#4589aa;font-size:16px;display:inline-block}
.gotosetting img{vertical-align:middle}
.page_status_routes,
.page_status_mwan,
.page_status_realtime,
.page_network_hosts,
.page_network_wireless,
.page_network_network,
.page_network_dhcp,
.page_network_routes,
.page_network_diagnostics,
.page_network_firewall,
.page_network_qos,
.page_network_mwan,
.page_system_system,
.page_system_admin,
.page_system_flashops,
.page_system_reboot,
.page_system_diagnostics,
.page_status_wireless{background:#fff url(icons/header4.gif) left top repeat-x}

.page_status_routes .tabs,
.page_status_mwan .tabs,
.page_status_realtime .tabs,
.page_network_hosts .tabs,
.page_network_wireless .tabs,
.page_network_network .tabs,
.page_network_dhcp .tabs,
.page_network_routes .tabs,
.page_network_diagnostics .tabs,
.page_network_firewall .tabs,
.page_network_qos .tabs,
.page_network_mwan .tabs,
.page_network_network .tabs,
.page_system_flashops .cbi-tabmenu,
.page_status_wireless .tabs{position:absolute;top:192px;right:0}

.page_system_flashops .cbi-tabmenu > li > a{font-size:18px;height:49px;line-height:50px;}

.page_network_dhcp .cbi-map-descr,.page_network_dhcp h2,.page_network_diagnostics h2[name="content"],.page_network_base_hosts h2[name="content"]{display: none;}
.page_network_dhcp .cbi-section.pd50{padding:0;}

.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.page-title{line-height:1.2;padding-bottom:20px}
.page-title .img{float:left;margin-top:50px}
.page-title .img img{width:195px;height:119px}
.page-title .title{font-size:40px;margin-left:220px;margin-top:30px;color:#56583f}
.page-title .desc{font-size:16px;margin-left:220px;margin-top:20px;color:#56583f}
.page-path{height:50px;line-height:50px;font-size:18px;color:#aaa;margin-bottom:1px;margin-bottom:30px;}
.page-title-box,legend,.page_network_dhcp h3,.page_network_base_wireless h2{/* line-height:36px; *//* font-weight:700; *//* font-size:16px; *//* color:#56583f; */margin-top:30px;margin-bottom: 10px;}

.page_login_main form{width:337px;height:218px;margin:30px auto 155px;background:url('icons/logInTable.png') left top no-repeat;text-align:center;overflow:hidden}
.page_login_main .cbi-value-title, .page_login_main form .cbi-value,.page_login_main .cbi-button-reset,.page_login_main h2[name="content"]{display:none;}
.page_login_main form .cbi-value-last{display:block;margin-top: 5px;margin-bottom:0;padding: 0;}
.page_login_main form .input, .page_login_main form .cbi-value-field{margin:0;}
.page_login_main .actions, .page_login_main .cbi-page-actions {background: none;margin-bottom: 0;padding: 0;border-top: none;border-radius: 0;text-align: center;}
.page_login_main .cbi-button-apply{background:#4598aa;color:#fff;padding:10px 15px;min-width:120px;margin-top: 20px;}
.page_login_main .cbi-map-descr{font-size:14px;color:#333;font-weight:bold;height:40px;line-height:40px;margin-top: 10px;padding: 0;background: no-repeat;border: none;margin-bottom: 0;}
.page_login_main form .cbi-value{display:block;padding: 10px 0 0 0;}
.page_login_main .cbi-page-actions{margin-top:0;}

.user-login-box .input-box{margin-top:10px}
.user-login-box .btn-box{margin-top:30px}
.user-login-box .btn-box input{background:#4598aa;color:#fff;padding:10px 15px;min-width:120px}

.page_status_overview .cbi-section:nth-child(7) .table .tr:nth-child(2),
.page_status_overview .cbi-section:nth-child(7) .table .tr:nth-child(3),
.page_status_overview .cbi-section:nth-child(7) .table .tr:nth-child(4)
{display:none;}

.page_status_overview .table{margin-bottom:0;}
.page_status_overview .cbi-section{margin-bottom:20px;}
.page_status_overview .cbi-section h3{margin-bottom:10px;}

h2[name="content"]{display:none;}
.cbi-tabmenu > li > a{font-size:16px;height: 38px; line-height:40px;text-decoration: none;}
.cbi-tabmenu > li:first-child > a{/* border-radius:8px 0 0 0; */}
.cbi-tabmenu > li:last-child > a{/* border-radius:0 8px 0 0; */}

.cbi-tabmenu{margin-bottom:0;}
.cbi-tabmenu .cbi-tab-disabled a{border-bottom:1px solid #ddd;}
.cbi-tabmenu .cbi-tab a{border-bottom:1px solid #fff;}

.cbi-tabmenu + .cbi-section-node{border:1px solid #ddd;border-top:0 !important;padding:10px 20px}

.cbi-section-node{/*border:1px solid #ddd;padding:10px 20px*/}
#cbi-network-globals,.page_network_qos #cbi-qos-wan,.page_system_system .cbi-section-node,.page_system_admin .cbi-section-node,.page_system_flashops .cbi-section-node
{border:1px solid #ddd;padding:10px 20px}
.cbi-section-node .cbi-value{border-bottom:1px solid #f5f5f5;padding:10px 0;margin:0 0;}
.cbi-section-node .cbi-value .cbi-value-title{padding-top:7px;}
.cbi-section-node .cbi-value:last-child{border-bottom:none;}

.cbi-page-actions .btn, .cbi-page-actions .cbi-button{padding: 8px 16px 8px;font-size: 15px;border-radius: 4px;}

embed{border:1px solid #ddd !important;}
.cbi-tabmenu + embed{border:1px solid #ddd  !important;border-top:0  !important;}

.cbi-map-descr,.cbi-section-descr{background:#f8f8f8;color:#999;padding:5px 10px;font-size:14px;border:1px solid #ededed;border-radius:4px;}

.page_network_network .ifacebox{border-right:none}

.page_status_iptables h3{margin:20px 0;}

#cbi-qos-wan{margin-bottom:20px;}

.page_system_admin .cbi-section-node{margin:20px 0;}

#cbi-dropbear-_keys .td{padding:0}

#cbi-mwan3-wan{border:1px solid #ddd;padding:10px 20px}

.page_network_mwan .tabs a{min-width:80px;font-size:16px;}

.page_status_iptables .cbi-tabmenu,.page_status_mwan .cbi-tabmenu{position:absolute;top:192px;right:0}
.page_status_iptables .cbi-tabmenu a,.page_status_mwan .cbi-tabmenu a{padding:0 10px;border-radius:0;font-size: 20px;border:1px solid #ccc;height:49px;line-height:50px;text-decoration:underline;border-right:none;color:#4589aa;text-align:center;min-width: 140px;}
