<%#
 Copyright 2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<div class="cbi-section">
	<div class="table" style="margin-bottom: 80px;">
		<div class="tr table-titles">
			<div class="th">4G插槽</div>     
			<div class="th">IMEI</div>
			<div class="th">ICCID</div>
			<div class="th">信号</div>
			<div class="th">运营商</div>
			<div class="th">厂商</div>
		</div>
		<div class="tr">
			<div class="td">4G1</div>
			<div class="td">866866868868</div>
			<div class="td"></div>
			<div class="td"><img src="/luci-static/resources/icons/signal-75-100.png" style="vertical-align: middle;margin-right:5px;"><span style="display: inline-block;vertical-align: middle;">79%</span></div>
			<div class="td">China Telecom</div>
			<div class="td">Arewqefvssd4543</div>
		</div>
	</div>
</div>

<%+footer%>
